
<div id="container">
	<div id="title">
		<h1>Instance</h1>
	</div>

	<div id="grid-container">
		
		<div id="instance-grid">
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>

			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>

			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>

			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>

			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>


		</div>
	</div>

	<div id="panel">
		<button id="creator">Create instance</button>
	</div>
</div>

